*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*google fonts*/
    .bungee-regular{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/** <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name
**/
.orbitron-uniquifier {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/*google fonts*/

body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* menu navegacional */
header{
    background-color: #1C1C1C;
    color: aliceblue;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    display: flex;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Orbitron';
}

.menu li{
    display: inline;
    padding-right: 3px;
    padding: 5px;
}

.menu ul{
    padding-right: 5px;
}

.menu h1{
    padding-left: 10px;
    font-family: 'Orbitron';
}

.menu a{
    text-decoration: none;
    color: inherit;
    padding: 3px;
}

.menu a:hover{
    padding: 3px;
    border-radius: 7px;
    background-color: rgba(25, 25, 112, 0.897);
    box-shadow: 0 0 28px 10px rgba(25,25,112,0.5);
    transition: all 1s;
    cursor: pointer;
}


/* sessão de destaque */
#destaque {
    width: 100%;
    display: block;                       
    background-size: cover;                
    background-position: center;           
    padding-top: 540px;
    height: 850px;
}

#destaque h2 {
    color: aliceblue;
    text-align: flex-end;                    
    text-shadow: 1px 1px 8px #000; 
    font-size: 38px;        
}


.card {
    max-width: 1366px;
    width: 100%;
    display: flex;                         
    align-items: flex-end;                  
    justify-content: flex-end;  
    margin: 0 auto;
    gap: 32px;                                              
}


.card img {
    max-width: 300px;
    min-width: 100px;
    object-fit: cover;                     
    border-radius: 8px;                   
}


.card p {                  
    color: aliceblue;    
    padding-bottom: 90px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 8px #000;
}


/* sessão mais recomendações */
#more {
    background-color: rgba(0, 0, 0, 0.959); 
    padding-top: 100px;
    height: 650px;
}

.section_more{
    display: flex;               
    justify-content: space-between;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.cards {
    background-color: #1C1C1C;
    color: aliceblue;
    border-radius: 12px;          
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.90); 
    padding: 24px;                           
    display: flex;                
    align-items: center; 
    width: 30%;
    margin: 15px;
    border-style: double;
    border-color: #1C1C1C;
}

.cards:hover{
    border-style: double;
    border-color: midnightblue;
    box-shadow: 0 0 24px 8px rgba(25,25,112,0.5);
    transition: 1s;
    cursor: pointer;
}

.cards img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;           
    border-radius: 8px;
    margin-bottom: 16px;          
}